{% extends 'students/base.html' %} {% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  /* Styling for the toast */
  .toast {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: var(--primary); /* Use the primary color for the words */
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 8px;
    z-index: 9999;
    transition: opacity 0.5s;
  }
</style>
{% endblock stylesheets %}



{% block content %}
<div class="container mt-5">
  <h2>{{ form.title }}</h2>
  <h3>Directed To: {{ form.content_object }} </h3>
  <form method="post">
    {% csrf_token %}
    <div class="container mt-5">
        <div class="form-group">
            <input type="hidden" class="form-control" id="student_ID" name="student_ID" value="{{request.user.student_id}}">
        </div>
        <div class="mt-3">
            {% if questions %}
            {% for question in questions %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ question.question }}</h5>
                    <input type="hidden" class="question-type" value="{{ question.question_type }}">
                    {% if question.question_type == 'multipleChoice' %}
                    <div class="form-check">
                        {% for option in question.options %}
                        <input type="radio" class="form-check-input" name="response_choice_{{ question.id }}" value="{{ option }}" required>
                        <label class="form-check-label">{{ option }}</label><br>
                        {% endfor %}
                    </div>
                    {% elif question.question_type == 'text' %}
                    <textarea class="form-control" name="response_text_{{ question.id }}" rows="3" required></textarea>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No questions available for this form.</p>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
</form>
  <a href="{% url 'student_view_all_forms' %}" class="btn btn-primary mt-3">Back to All Forms</a>
</div>
{% endblock %}


<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>


{% endblock javascripts %}
